body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    font-weight: normal;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

header,
section,
article {
    display: block;
}

header {
    text-align: center;
    position: relative;
    z-index: 1;
}

section {
    margin: 0;
    margin-top: 1.3em;
    margin-bottom: 0.6em;
    padding: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0.3em;
    padding: 0;
}

ul,
ol {
    margin: 0;
    margin-top: 0.2em;
    padding: 0;
}

h1 {
    margin: 5px;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    margin: 5px 0;
}

h5 {
    margin: 20px 0 10px;
    font-size: 1.2em;
    font-weight: bold;
}

a,
a:link,
a:visited {
    border: medium none;
    text-decoration: none;
    color: #009;
    cursor: pointer;
}

body>div {
    background-color: #F6F6F6;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
    min-width: 300px;
    max-width: 650px;
    position: relative;
}

body>div.jobapply {
    padding: 20px 40px;
}

header p {
    margin: 5px;
}

#links img {
    border: 0 none;
}

.skills {
    margin: 10px 10px;
}

.project {
    margin: 10px 0 20px 10px;
}

section>p,
section>article {
    margin: 5px 0 0 10px;
}

#skills_section {
    position: relative;
    z-index: 0;
}

#body_popup {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #000;
    padding: 20px;
    min-width: 300px;
    max-width: 440px;
    text-align: left;
}

a:hover {
    text-decoration: none;
    color: #03F;
}

.close {
    display: block;
    float: right;
}

li {
    margin-left: 5px;
    list-style-position: inside;
    list-style-type: circle;
    padding-left: 0;
    /* padding-bottom: 5px; */
}

ol>li {
    list-style-position: inside;
    list-style-type: decimal;
    margin-bottom: 10px;
    margin-left: 0;
}

#links {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
}

.formats {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: url(img/links.png) no-repeat;
}

#doc {
    background-position: 0 0;
}

#txt {
    background-position: 0 -52px;
}

#pdf {
    background-position: 0 -26px;
}

.indent {
    margin-left: 20px;
}

@media only screen and (max-device-width: 480px) {
    body {
        font-size: 18px;
    }

    #resumecontainer {
        padding: 20px;
        margin: 20px;
        max-width: 1000px;
    }

    #body_popup {
        max-width: 1000px;
    }
}

.aka {
    font-style: italic;
    font-size: 80%;
}

h4 {
    margin-top: 0.2em;
}

h3,
h4 {
    margin-bottom: 0.2em;
    /* margin-top: 0.2em; */
}

.when {
    /* padding-left: 3em; */
    font-style: italic;
    font-size: 80%;
    position: absolute;
    right: 0px;
    width: 100px;
}

.csv {
    display: flex;
    padding-inline-start: 0;
    list-style: none;
    flex-wrap: wrap;
}

.csv li {
    display: inline-block;
}

.csv li:after {
    content: ', ';
}

.csv li:last-child:after {
    content: '';
}

section {
    break-after: auto;
    break-inside: auto;
}

article {
    break-after: auto;
    break-inside: avoid;
}

li,
p {
    break-inside: avoid;
}

.jobapply {
    line-height: 1.5em;
}

.jobapply section p {
    line-height: 1.7em;
    padding-bottom: 0.5em;
}

footer {
    margin-left: 2em;
    margin-right: 2em;
}

.sharpen {
    color: red;
}

footer {
    display: none;
}

.jobapply footer {
    display: block;
}

@media print {
    body>div {
        background-color: #ffffff;
    }
}

@page {
    size: a4;

    @bottom-center {
        content: "Page " counter(page) " of " counter(pages);
    }
}